In [1]:
import pandas as pd
import os
import sklearn as sk
from sklearn.linear_model import MultiTaskLasso, MultiTaskElasticNet, ElasticNet
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error
import sklearn.metrics as skmet
import numpy as np
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords

In [2]:
os.listdir("inside_airbnb")

['.DS_Store',
 'calendar.csv',
 'listings.csv',
 'listings_summ.csv',
 'neighbourhoods.csv',
 'neighbourhoods.geo.json',
 'neighbourhoods.geojson',
 'neighbourhoods.json',
 'reviews.csv',
 'reviews_summ.csv',
 'stations.geojson']

In [3]:
listings = pd.read_csv('inside_airbnb/listings.csv')
list_summ = pd.read_csv('inside_airbnb/listings_summ.csv')
neighborhoods = pd.read_csv('inside_airbnb/neighbourhoods.csv')
reviews = pd.read_csv('inside_airbnb/reviews.csv')
reviews_summ = pd.read_csv('inside_airbnb/reviews_summ.csv')
calendar = pd.read_csv('inside_airbnb/calendar.csv')

In [17]:
calendar['date'] = pd.to_datetime(calendar['date'])

In [18]:
calendar['month'] = calendar['date'].apply(lambda x: x.month)
calendar['day'] = calendar['date'].apply(lambda x: x.day)
calendar['holiday'] = False

In [19]:
calendar

         listing_id       date available   price  month  day  holiday
0          11204286 2017-07-05         t  $49.00      7    5    False
1          11204286 2017-07-04         t  $49.00      7    4    False
2          11204286 2017-07-03         t  $49.00      7    3    False
3          11204286 2017-07-02         t  $49.00      7    2    False
4          11204286 2017-07-01         t  $49.00      7    1    False
5          11204286 2017-06-30         t  $49.00      6   30    False
6          11204286 2017-06-29         t  $49.00      6   29    False
7          11204286 2017-06-28         t  $49.00      6   28    False
8          11204286 2017-06-27         t  $49.00      6   27    False
9          11204286 2017-06-26         t  $49.00      6   26    False
10         11204286 2017-06-25         t  $49.00      6   25    False
11         11204286 2017-06-24         t  $49.00      6   24    False
12         11204286 2017-06-23         t  $49.00      6   23    False
13         11204286 2017-06-06         t  $49.00      6    6    False
14         11204286 2017-06-05         t  $49.00      6    5    False
15         11204286 2017-06-04         t  $49.00      6    4    False
16         11204286 2017-06-03         t  $49.00      6    3    False
17         11204286 2017-06-02         t  $49.00      6    2    False
18         11204286 2017-06-01         t  $49.00      6    1    False
19         11204286 2017-05-31         t  $49.00      5   31    False
20         11204286 2017-05-30         t  $49.00      5   30    False
21         11204286 2017-05-29         t  $49.00      5   29    False
22         11204286 2017-05-28         t  $49.00      5   28    False
23         11204286 2017-05-27         t  $49.00      5   27    False
24         11204286 2017-05-26         t  $49.00      5   26    False
25         11204286 2017-05-25         t  $49.00      5   25    False
26         11204286 2017-05-24         t  $49.00      5   24    False
27         11204286 2017-05-23         t  $49.00      5   23    False
28         11204286 2017-05-22         t  $49.00      5   22    False
29         11204286 2017-05-21         t  $49.00      5   21    False
...             ...        ...       ...     ...    ...  ...      ...
2411890    13452448 2016-08-04         f     NaN      8    4    False
2411891    13452448 2016-08-03         f     NaN      8    3    False
2411892    13452448 2016-08-02         f     NaN      8    2    False
2411893    13452448 2016-08-01         f     NaN      8    1    False
2411894    13452448 2016-07-31         f     NaN      7   31    False
2411895    13452448 2016-07-30         f     NaN      7   30    False
2411896    13452448 2016-07-29         f     NaN      7   29    False
2411897    13452448 2016-07-28         f     NaN      7   28    False
2411898    13452448 2016-07-27         f     NaN      7   27    False
2411899    13452448 2016-07-26         f     NaN      7   26    False
2411900    13452448 2016-07-25         f     NaN      7   25    False
2411901    13452448 2016-07-24         f     NaN      7   24    False
2411902    13452448 2016-07-23         f     NaN      7   23    False
2411903    13452448 2016-07-22         f     NaN      7   22    False
2411904    13452448 2016-07-21         f     NaN      7   21    False
2411905    13452448 2016-07-20         f     NaN      7   20    False
2411906    13452448 2016-07-19         f     NaN      7   19    False
2411907    13452448 2016-07-18         f     NaN      7   18    False
2411908    13452448 2016-07-17         f     NaN      7   17    False
2411909    13452448 2016-07-16         f     NaN      7   16    False
2411910    13452448 2016-07-15         f     NaN      7   15    False
2411911    13452448 2016-07-14         f     NaN      7   14    False
2411912    13452448 2016-07-13         f     NaN      7   13    False
2411913    13452448 2016-07-12         f     NaN      7   12    False
2411914    13452448 2016-07-11         f     NaN      7   11    False
2411915    13452448 2016-07-10         f     NaN      7   10    False
2411916    13452448 2016-07-09         f     NaN      7    9    False
2411917    13452448 2016-07-08         f     NaN      7    8    False
2411918    13452448 2016-07-07         f     NaN      7    7    False
2411919    13452448 2016-07-06         f     NaN      7    6    False

[2411920 rows x 7 columns]