In [1]:
import json
from StringIO import StringIO
import pandas as pd

In [2]:
import pandas as pd
import os
import sklearn as sk
from sklearn.linear_model import MultiTaskLasso, MultiTaskElasticNet, ElasticNet
from sklearn.cross_validation import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error
import sklearn.metrics as skmet
import numpy as np
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords, names
import datetime
from scipy.stats import ttest_ind 
import csv

C:\Users\sanka\Anaconda2\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
import findspark
findspark.init()

from pyspark import SparkContext
#sc.stop()
## add after creating spark_PCA.py
sc = SparkContext(master="local[3]") 
from pyspark import SparkContext
from pyspark.sql import *
sqlContext = SQLContext(sc)

In [4]:
from pyspark.sql import Row
from pyspark.sql.types import *

In [5]:
listings = pd.read_csv('inside_airbnb/listings.csv')
list_summ = pd.read_csv('inside_airbnb/listings_summ.csv')
neighborhoods = pd.read_csv('inside_airbnb/neighbourhoods.csv')
reviews = pd.read_csv('inside_airbnb/reviews.csv')
reviews_summ = pd.read_csv('inside_airbnb/reviews_summ.csv')
calendar = pd.read_csv('inside_airbnb/calendar.csv')

In [6]:
special_events = pd.read_csv('Datasources/other general/special_events_list_datasd.csv')
active_businesses = pd.read_csv('Datasources/other general/sd_active_businesses_datasd.csv')

In [8]:
special_events['longitude'].dropna()

0      -117.149901
1      -117.194902
2      -117.160285
3      -117.194902
4      -117.099983
5      -117.161570
6      -117.162865
7      -117.126621
8      -117.244998
9      -117.194902
10     -117.160285
11     -117.149901
12     -117.194902
13     -117.099983
14     -117.161570
15     -117.126621
16     -117.244998
17     -117.161084
18     -117.254587
19     -117.160285
20     -117.194902
21     -117.149901
22     -117.148150
23     -117.099983
24     -117.194902
25     -117.161570
26     -117.126621
27     -117.244998
28     -117.161084
29     -117.254587
           ...
2728   -117.213908
2729   -117.159669
2731   -117.131890
2732   -117.219793
2733   -117.251065
2734   -117.167401
2735   -117.253365
2737   -117.194904
2739   -117.048377
2740   -117.149186
2742   -117.194904
2743   -117.136062
2744   -117.100901
2746   -117.164768
2747   -117.132355
2748   -117.131890
2749   -117.219793
2750   -117.251065
2751   -117.167401
2752   -117.253365
2754   -117.194904
2755   -117.048377
2756   -117.149186
2758   -117.212459
2760   -117.169080
2761   -117.129201
2762   -117.194904
2763   -117.136062
2764   -117.100901
2765   -117.164768
Name: longitude, Length: 2580, dtype: float64

In [9]:
special_events[['longitude', 'latitude']].dropna()

       longitude   latitude
0    -117.149901  32.748542
1    -117.194902  32.752779
2    -117.160285  32.731392
3    -117.194902  32.752779
4    -117.099983  32.747753
5    -117.161570  32.721978
6    -117.162865  32.709384
7    -117.126621  32.747410
8    -117.244998  32.743133
9    -117.194902  32.752779
10   -117.160285  32.731392
11   -117.149901  32.748542
12   -117.194902  32.752779
13   -117.099983  32.747753
14   -117.161570  32.721978
15   -117.126621  32.747410
16   -117.244998  32.743133
17   -117.161084  32.715738
18   -117.254587  32.799998
19   -117.160285  32.731392
20   -117.194902  32.752779
21   -117.149901  32.748542
22   -117.148150  32.752112
23   -117.099983  32.747753
24   -117.194902  32.752779
25   -117.161570  32.721978
26   -117.126621  32.747410
27   -117.244998  32.743133
28   -117.161084  32.715738
29   -117.254587  32.799998
...          ...        ...
2728 -117.213908  32.734879
2729 -117.159669  32.731619
2731 -117.131890  32.747373
2732 -117.219793  32.857294
2733 -117.251065  32.746856
2734 -117.167401  32.717771
2735 -117.253365  32.796878
2737 -117.194904  32.752780
2739 -117.048377  32.634833
2740 -117.149186  32.750325
2742 -117.194904  32.752780
2743 -117.136062  32.717915
2744 -117.100901  32.747747
2746 -117.164768  32.721954
2747 -117.132355  32.754765
2748 -117.131890  32.747373
2749 -117.219793  32.857294
2750 -117.251065  32.746856
2751 -117.167401  32.717771
2752 -117.253365  32.796878
2754 -117.194904  32.752780
2755 -117.048377  32.634833
2756 -117.149186  32.750325
2758 -117.212459  32.767950
2760 -117.169080  32.726249
2761 -117.129201  32.748453
2762 -117.194904  32.752780
2763 -117.136062  32.717915
2764 -117.100901  32.747747
2765 -117.164768  32.721954

[2580 rows x 2 columns]

In [10]:
special_events[['longitude', 'latitude']] = special_events[['longitude', 'latitude']].dropna()

In [14]:
active_businesses[['account_key', 'lon', 'lat']].dropna()

       account_key         lon        lat
0       2017014278 -117.110321  32.911936
1       2017013866 -117.187049  32.780080
2       2017013873 -117.256734  32.803056
3       2017013871 -117.135811  32.694014
4       2017013870 -117.048771  32.693291
5       2017013869 -117.228387  32.834477
6       2017013867 -117.162618  32.750293
7       2017013865 -117.131484  32.780464
8       2017013874 -117.098926  32.733630
9       2017013863 -117.095833  32.713745
10      2017013862 -117.127567  32.805000
11      2017013861 -117.082138  32.765720
12      2017013860 -117.014910  32.587968
13      2017013859 -117.043777  32.797294
14      2017013872 -117.212116  32.879569
15      2017013875 -117.081996  32.975504
16      2017013856 -117.148292  32.747945
17      2017013884 -117.052865  32.675463
18      2017013889 -117.079082  32.573490
19      2017013890 -117.073900  32.716646
20      2017013888 -117.099432  32.694098
21      2017013887 -117.100665  32.737146
22      2017013886 -117.113195  32.699253
23      2017013885 -117.066440  32.712431
24      2017013883 -117.063612  32.680150
25      2017013882 -117.053148  32.717639
26      2017013880 -117.138431  32.752002
27      2017013881 -117.116756  32.739594
28      2017013879 -117.058290  32.570907
29      2017013878 -117.059249  32.705589
...            ...         ...        ...
75423   1974010673 -117.210554  32.745908
75424   1974004390 -117.203924  32.773726
75425   1974011543 -117.147565  32.891302
75426   1974012203 -117.136780  32.831984
75427   1974009442 -116.913662  32.776265
75428   1974009118 -117.196081  32.764700
75429   1974010345 -116.993172  32.570928
75430   1974001703 -117.119728  32.809681
75431   1974005190 -117.274474  32.845309
75432   1974010051 -117.074466  32.805361
75433   1974005140 -117.278106  32.839501
75434   1974010644 -117.157754  32.713649
75435   1974010929 -117.173577  32.729872
75436   1974012790 -117.206004  32.786615
75437   1974012733 -117.086012  32.707114
75438   1974009274 -117.162552  32.828705
75439   1974015236 -117.046509  32.550442
75440   1974011425 -117.108179  32.763439
75441   1974009340 -117.041480  32.755271
75442   1974011168 -117.141437  32.698405
75443   1974005390 -117.207326  32.753343
75444   1974016111 -116.998889  32.572379
75445   1974009389 -116.869759  33.039654
75446   1974016058 -117.237732  32.834030
75447   1974001476 -117.116410  32.704624
75448   1974001382 -117.031912  32.771858
75449   1974009747 -117.119921  32.827728
75450   1974014347 -117.165120  32.730068
75451   1974003425 -117.224816  33.106129
75452   1974008707 -117.196252  32.833846

[75453 rows x 3 columns]

In [17]:
for w in active_businesses['lon']

0       -117.110321
1       -117.187049
2       -117.256734
3       -117.135811
4       -117.048771
5       -117.228387
6       -117.162618
7       -117.131484
8       -117.098926
9       -117.095833
10      -117.127567
11      -117.082138
12      -117.014910
13      -117.043777
14      -117.212116
15      -117.081996
16      -117.148292
17      -117.052865
18      -117.079082
19      -117.073900
20      -117.099432
21      -117.100665
22      -117.113195
23      -117.066440
24      -117.063612
25      -117.053148
26      -117.138431
27      -117.116756
28      -117.058290
29      -117.059249
            ...
75423   -117.210554
75424   -117.203924
75425   -117.147565
75426   -117.136780
75427   -116.913662
75428   -117.196081
75429   -116.993172
75430   -117.119728
75431   -117.274474
75432   -117.074466
75433   -117.278106
75434   -117.157754
75435   -117.173577
75436   -117.206004
75437   -117.086012
75438   -117.162552
75439   -117.046509
75440   -117.108179
75441   -117.041480
75442   -117.141437
75443   -117.207326
75444   -116.998889
75445   -116.869759
75446   -117.237732
75447   -117.116410
75448   -117.031912
75449   -117.119921
75450   -117.165120
75451   -117.224816
75452   -117.196252
Name: lon, Length: 75453, dtype: float64

In [12]:
special_events

,event_title,event_id,event_subtitle,event_type,event_desc,event_loc,event_start,event_end,exp_attendance,exp_participants,event_host,event_url,event_address,latitude,longitude
0,2018 Hillcrest Farmers' Market (Sundays),49953,NaN,FARMERS,This farmer's market in Hillcrest offers an ar...,DMV parking lot at 3690 Normal Street ~ Normal...,2018-12-30 09:00:00,2018-12-30 14:00:00,"2,000",400,Hillcrest Business Association,www.hillcrestfarmersmarket.com,3690 Normal Street,32.748542,-117.149901
1,Old Town Artisan's Market,50424,NaN,FARMERS,A weekend open air market offering an array of...,Harney Street between San Diego Avenue and Con...,2018-12-30 09:00:00,2018-12-30 16:30:00,"1,000",100,Old Town San Diego Chamber of Commerce,NaN,Harney Street & San Diego Avenue,32.752779,-117.194902
2,Sunday Artisan Market,50588,NaN,FARMERS,The Sunday Artisan Market provides space for l...,5th Avenue between Market Street and Island Av...,2018-12-30 09:00:00,2018-12-30 14:00:00,"3,000",20,Gaslamp Quarter Association,www.gaslamp.org,5th Avenue & Market Street,32.731392,-117.160285
3,Old Town Artisan's Market,50423,NaN,FARMERS,A weekend open air market offering an array of...,Harney Street between San Diego Avenue and Con...,2018-12-29 09:00:00,2018-12-29 16:30:00,"1,000",100,Old Town San Diego Chamber of Commerce,NaN,Harney Street & San Diego Avenue,32.752779,-117.194902
4,City Heights Farmer's Market (Every Saturday),50130,NaN,FARMERS,This farmer's market in City Heights offers an...,Wightman Street between 43rd Street and Fairmo...,2018-12-29 09:00:00,2018-12-29 13:00:00,500,100,San Diego County Farm Bureau,www.sdfarmbureau.org,Wightman & 43rd Streets,32.747753,-117.099983
5,The Mercato Little Italy's Farmers' Market,50028,NaN,FARMERS,The Little Italy Mercato is a Certified Farmer...,W. Cedar St between Front St. and Kettner Blvd...,2018-12-29 08:00:00,2018-12-29 14:00:00,"1,500",400,Little Italy Association of San Diego,www.littleitalymercato.com,Cedar & Front Streets,32.721978,-117.161570
6,Holiday Bowl 5K,49893,NaN,ATHLETIC,This nationally televised 5K run/walk is a kic...,Harbor Dr./Ash St. - Harbor Dr. - walkway - Em...,2018-12-28 09:45:00,2018-12-28 12:00:00,"1,000",100,KOZ Events,www.kozenterprises.com,Harbor Drive & Ash Streeet,32.709384,-117.162865
7,North Park Thursday Market,50078,NaN,FARMERS,This farmer's market in North Park offers loca...,North Park Way between Granada Avenue and 30th...,2018-12-27 15:00:00,2018-12-27 19:30:00,900,70,North Park Main Street,www.northparkmarket.com,North Park Way & Granada Avenue,32.747410,-117.126621
8,Ocean Beach Certified Farmer's Market (Wednesd...,50212,NaN,FARMERS,This farmer's market in Ocean Beach offers an ...,Newport Avenue between Bacon and Cable Streets,2018-12-26 16:00:00,2018-12-26 20:00:00,"1,200",60,Ocean Beach Merchant's Association,www.oceanbeachsandiego.com,Newport Avenue & Bacon Street,32.743133,-117.244998
9,Old Town Artisan's Market,50422,NaN,FARMERS,A weekend open air market offering an array of...,Harney Street between San Diego Avenue and Con...,2018-12-23 09:00:00,2018-12-23 16:30:00,"1,000",100,Old Town San Diego Chamber of Commerce,NaN,Harney Street & San Diego Avenue,32.752779,-117.194902
10,Sunday Artisan Market,50587,NaN,FARMERS,The Sunday Artisan Market provides space for l...,5th Avenue between Market Street and Island Av...,2018-12-23 09:00:00,2018-12-23 14:00:00,"3,000",20,Gaslamp Quarter Association,www.gaslamp.org,5th Avenue & Market Street,32.731392,-117.160285
11,2018 Hillcrest Farmers' Market (Sundays),49952,NaN,FARMERS,This farmer's market in Hillcrest offers an ar...,DMV parking lot at 3690 Normal Street ~ Normal...,2018-12-23 09:00:00,2018-12-23 14:00:00,"2,000",400,Hillcrest Business Association,www.hillcrestfarmersmarket.com,3690 Normal Street,32.748542,-117.149901
12,Old Town Artisan's Market,50421,NaN,FARMERS,A weekend open air market offering an array of...,Harney Street between San Diego Avenue and Con...,2018-12-22 09:00:00,2018-12-22 16:30:00,"1,000",100,Old Town San Diego Chamber of Commerce,NaN,Harney Street & San Diego Avenue,32.752779,-117.194902
13,City Heights Farmer's Market (Every Saturday),50129,NaN,FARMERS,This farmer's market in City Heights offers an...,Wightman Street between 43rd Street and Fairmo...,2018-12-22 09:00:00,2018-12-22 13:00:00,500,100,San Diego County Farm Bureau,www.sdfarmbureau.org,Wightman & 43rd Streets,32.747753,-117.099983
14,The Mercato Little Italy's Farmers' Market,50027,NaN,FARMERS,The Little Italy Mercato is a Certified Farmer...,W. Cedar St between Front St. and Kettner Blvd...,2018-12-22 08:00:00,2018-12-22 14:00:00,"1,500",400,Little Italy Association of San Diego,www.littleitalymercato.com,Cedar & Front Streets,32.721978,-117.161570
15,North Park Thursday Market,50077,NaN,FARMERS,This farmer's market in North Park offers loca...,North Park Way between Granada Avenue and 30th...,2018-12-20 15:00:00,2018-12-20 19:30:00,900,70,North Park Main Street,www.northparkmarket.com,North Park Way & Granada Avenue,32.747410,-117.126621
16,Ocean Beach Certified Farmer's Market (Wednesd...,50211,NaN,FARMERS,This farmer's market in Ocean Beach offers an ...,Newport Avenue between Bacon and Cable Streets,2018-12-19 16:00:00,2018-12-19 20:00:00,"1,200",60,Ocean Beach Merchant's Association,www.oceanbeachsandiego.com,Newport Avenue & Bacon Street,32.743133,-117.244998
17,Curbside Bites Food Truck Markets - Downtown L...,49831,NaN,FARMERS,"Every Wednesday, a caravan of food trucks are ...",B Street between India & Columbia Streets.,2018-12-19 11:00:00,2018-12-19 14:00:00,300,30,Curbside Bites,www.curbsidebites.com,B & India Streets,32.715738,-117.161084
18,Pacific Beach Tuesday Farmers' Market,50505,NaN,FARMERS,This farmer's market offers locally grown vege...,Bayard Street between Grand and Garnet Avenues,2018-12-18 14:00:00,2018-12-18 19:00:00,800,60,Discover PB,www.pacificbeachmarket.com,Bayard Street & Grand Avenue,32.799998,-117.254587
19,Sunday Artisan Market,50586,NaN,FARMERS,The Sunday Artisan Market provides space for l...,5th Avenue between Market Street and Island Av...,2018-12-16 09:00:00,2018-12-16 14:00:00,"3,000",20,Gaslamp Quarter Association,www.gaslamp.org,5th Avenue & Market Street,32.731392,-117.160285
20,Old Town Artisan's Market,50420,NaN,FARMERS,A weekend open air market offering an array of...,Harney Street between San Diego Avenue and Con...,2018-12-16 09:00:00,2018-12-16 16:30:00,"1,000",100,Old Town San Diego Chamber of Commerce,NaN,Harney Street & San Diego Avenue,32.752779,-117.194902
21,2018 Hillcrest Farmers' Market (Sundays),49951,NaN,FARMERS,This farmer's market in Hillcrest offers an ar...,DMV parking lot at 3690 Normal Street ~ Normal...,2018-12-16 09:00:00,2018-12-16 14:00:00,"2,000",400,Hillcrest Business Association,www.hillcrestfarmersmarket.com,3690 Normal Street,32.748542,-117.149901
22,Hillcrest Car Show,50154,NaN,FESTIVAL,"Come and see classic cars displayed, talk to t...",Normal Street between Harvey Milk Street and U...,2018-12-15 14:00:00,2018-12-15 18:00:00,250,20,Hillcrest Business Association,www.fabuloushillcrest.com,Normal & Harvey Milk Streets,32.752112,-117.148150
23,City Heights Farmer's Market (Every Saturday),50128,NaN,FARMERS,This farmer's market in City Heights offers an...,Wightman Street between 43rd Street and Fairmo...,2018-12-15 09:00:00,2018-12-15 13:00:00,500,100,San Diego County Farm Bureau,www.sdfarmbureau.org,Wightman & 43rd Streets,32.747753,-117.099983
24,Old Town Artisan's Market,50419,NaN,FARMERS,A weekend open air market offering an array of...,Harney Street between San Diego Avenue and Con...,2018-12-15 09:00:00,2018-12-15 16:30:00,"1,000",100,Old Town San Diego Chamber of Commerce,NaN,Harney Street & San Diego Avenue,32.752779,-117.194902
25,The Mercato Little Italy's Farmers' Market,50026,NaN,FARMERS,The Little Italy Mercato is a Certified Farmer...,W. Cedar St between Front St. and Kettner Blvd...,2018-12-15 08:00:00,2018-12-15 14:00:00,"1,500",400,Little Italy Association of San Diego,www.littleitalymercato.com,Cedar & Front Streets,32.721978,-117.161570
26,North Park Thursday Market,50076,NaN,FARMERS,This farmer's market in North Park offers loca...,North Park Way between Granada Avenue and 30th...,2018-12-13 15:00:00,2018-12-13 19:30:00,900,70,North Park Main Street,www.northparkmarket.com,North Park Way & Granada Avenue,32.747410,-117.126621
27,Ocean Beach Certified Farmer's Market (Wednesd...,50210,NaN,FARMERS,This farmer's market in Ocean Beach offers an ...,Newport Avenue between Bacon and Cable Streets,2018-12-12 16:00:00,2018-12-12 20:00:00,"1,200",60,Ocean Beach Merchant's Association,www.oceanbeachsandiego.com,Newport Avenue & Bacon Street,32.743133,-117.244998
28,Curbside Bites Food Truck Markets - Downtown L...,49830,NaN,FARMERS,"Every Wednesday, a caravan of food trucks are ...",B Street between India & Columbia Streets.,2018-12-12 11:00:00,2018-12-12 14:00:00,300,30,Curbside Bites,www.curbsidebites.com,B & India Streets,32.715738,-117.161084
29,Pacific Beach Tuesday Farmers' Market,50504,NaN,FARMERS,This farmer's market offers locally grown vege...,Bayard Street between Grand and Garnet Avenues,2018-12-11 14:00:00,2018-12-11 19:00:00,800,60,Discover PB,www.pacificbeachmarket.com,Bayard Street & Grand Avenue,32.799998,-117.254587
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2737,Old Town Artisan's Market,47987,NaN,FARMERS,A weekend open air market offering an array of...,Harney Street between San Diego Avenue and Con...,2016-04-17 10:00:00,2016-04-17 16:30:00,"1,000",100,Old Town San Diego Chamber of Commerce,NaN,San Diego Ave & Harney St,32.752780,-117.194904
2738,EarthFair 2016,48105,NaN,FESTIVAL,This popular earth-loving event presents a wid...,Balboa Park Central Mesa,2016-04-17 10:00:00,2016-04-17 17:00:00,"60,000","1,500",San Diego EarthWorks,www.earthdayweb.org,NaN,NaN,NaN
2739,Third Avenue Certified Farmer's Market (Sundays),47495,NaN,FARMERS,This farmer's market in downtown San Diego Off...,Third Avenue (400 block) ~ J Street (200 block),2016-04-17 09:00:00,2016-04-17 13:00:00,500,50,Community Crops,NaN,377 J Street,32.634833,-117.048377
2740,2016 Hillcrest Farmers' Market (Sundays_,47382,NaN,FARMERS,This farmer's market in Hillcrest offers an ar...,DMV parking lot (3690 Normal St.) ~ Normal Str...,2016-04-17 09:00:00,2016-04-17 15:00:00,"2,000",400,Hillcrest Business Association,www.hillcrestfarmersmarket.com,3960 Normal Street,32.750325,-117.149186
2741,Jacaranda Spring Thing,48152,NaN,FESTIVAL,Celebrate Spring with the beautiful jacarandas...,Date Street between 8th and 9th Avenues,2016-04-16 12:00:00,2016-04-16 16:00:00,200,100,Downtown San Diego PArtnership Clean & Safe,www.downtownsandiego.oprg,NaN,NaN,NaN
2742,Old Town Artisan's Market,47986,NaN,FARMERS,A weekend open air market offering an array of...,Harney Street between San Diego Avenue and Con...,2016-04-16 10:00:00,2016-04-16 16:30:00,"1,000",100,Old Town San Diego Chamber of Commerce,NaN,San Diego Ave & Harney St,32.752780,-117.194904
2743,Golden Hill Certified Farmer's Market,47798,NaN,FARMERS,This farmer's market in Golden Hill offers an ...,B Street between 27th St. & 28th St.,2016-04-16 09:30:00,2016-04-16 13:30:00,500,50,Brian's Farmer Markets,www.briansfarmermarkets.com,B St & 27th St,32.717915,-117.136062
2744,City Heights Farmer's Market (Every Saturday),47441,NaN,FARMERS,This farmer's market in City Heights offers an...,Wightman Street between 43rd St. & Fairmont Ave.,2016-04-16 09:00:00,2016-04-16 13:00:00,500,100,San Diego County Farm Bureau,www.sdfarmbureau.org,Wightman Street & Fairmont Ave.,32.747747,-117.100901
2745,Fighting Parkinson's Step by Step,48100,NaN,ATHLETIC,Parkinson's disease is a neurodegenerative dis...,Liberty Station: NTC Park and along the waterf...,2016-04-16 08:00:00,2016-04-16 14:00:00,"2,600",100,The Parkinson's Association,www.parkinsonsassociation.org,NaN,NaN,NaN
2746,The Mercato: Little Italy's Farmers Market (Sat.),47330,NaN,FARMERS,The Little Italy Mercato is a Certified Farmer...,West Cedar Street between Front Street and Ket...,2016-04-16 08:00:00,2016-04-16 14:00:00,"1,500",400,Little Italy Association of San Diego,www.littleitalymercato.com,Front St & W Cedar St,32.721954,-117.164768
2747,The BLVD Monthly Market,47703,NaN,FARMERS,The BLVD Market showcases San Diego local chef...,2855 El Cajon Boulevard parking lot and on Uta...,2016-04-15 18:00:00,2016-04-15 22:00:00,300,30,The El Cajon Boulevard BIA,www.theboulevard.org.,2855 El Cajon Boulevard,32.754765,-117.132355
2748,North Park Farmer's Market,47904,NaN,FARMERS,This farmer's market in North Park offers loca...,North Park Way between Granada Avenue and 30th...,2016-04-14 15:00:00,2016-04-14 20:00:00,900,70,North Park Main Street,NaN,Granada Ave & N Park Way,32.747373,-117.131890
2749,UTC Farmer's Market (Every Thursday),47850,NaN,FARMERS,This farmer's market in University City offers...,Southbound Regents Road south of Porte de Mera...,2016-04-14 15:00:00,2016-04-14 19:00:00,250,40,Brian's Farmers' Market,www.briansfarmersmarket.com,7397 Regents Rd,32.857294,-117.219793
2750,Ocean Beach Certified Farmer's Market (Wednesd...,47650,NaN,FARMERS,This farmer's market in Ocean Beach offers an ...,Newport Avenue between Bacon and Cable Streets,2016-04-13 16:00:00,2016-04-13 20:00:00,"1,200",60,Ocean Beach Merchant's Association,www.oceanbeachsandiego.com,Newport Avenue and bacon Street,32.746856,-117.251065
2751,Curbside Bites Food Truck Markets (Wed. Lunch),47598,NaN,FARMERS,"Every Wednesday, a caravan of food trucks are ...",B Street between India & Columbia Streeets,2016-04-13 11:00:00,2016-04-13 14:00:00,300,25,Curbside Bites,www.curbsidebites.com,B Street & Columbia Streeet,32.717771,-117.167401
2752,Pacific Beach Tuesday Farmer's Market,47546,NaN,FARMERS,This farmer's market offers locally grown vege...,Bayard Street between Grand and Garnet Avenues,2016-04-12 14:00:00,2016-04-12 19:00:00,800,60,Discover PB,www.pacificbeachmarket.com,4499 Bayard St,32.796878,-117.253365
2753,RIMS Corporate Blcok Party,48094,NaN,FESTIVAL,This a private corporate event for convention ...,5th Avenue between J and K Streets,2016-04-10 18:00:00,2016-04-10 20:30:00,"1,700",50,"McFarlane Promotions, Inc..",NaN,NaN,NaN,NaN
2754,Old Town Artisan's Market,47985,NaN,FARMERS,A weekend open air market offering an array of...,Harney Street between San Diego Avenue and Con...,2016-04-10 10:00:00,2016-04-10 16:30:00,"1,000",100,Old Town San Diego Chamber of Commerce,NaN,San Diego Ave & Harney St,32.752780,-117.194904
2755,Third Avenue Certified Farmer's Market (Sundays),47494,NaN,FARMERS,This farmer's market in downtown San Diego Off...,Third Avenue (400 block) ~ J Street (200 block),2016-04-10 09:00:00,2016-04-10 13:00:00,500,50,Community Crops,NaN,377 J Street,32.634833,-117.048377
2756,2016 Hillcrest Farmers' Market (Sundays_,47381,NaN,FARMERS,This farmer's market in Hillcrest offers an ar...,DMV parking lot (3690 Normal St.) ~ Normal Str...,2016-04-10 09:00:00,2016-04-10 15:00:00,"2,000",400,Hillcrest Business Association,www.hillcrestfarmersmarket.com,3960 Normal Street,32.750325,-117.149186
2757,12th Annual La Jolla Concours d'Elegance,48099,NaN,FESTIVAL,An elite car show is presented at beautiful La...,Ellen Browning Scripps Park at 1155 Coast Blvd.,2016-04-10 09:00:00,2016-04-10 16:00:00,"2,000",400,La Jolla Historical Society,www.lajollaconcours.com,NaN,NaN,NaN
2758,Fiesta Island Time Trial Series,47718,NaN,ATHLETIC,A series of bicycle races held at Fiesta Islan...,Fiesta Island,2016-04-10 07:00:00,2016-04-10 09:00:00,120,100,San Diego Bicycle Club,www.sdbc.org/fiesta-island-time-trial,1750 Fiesta Island Rd,32.767950,-117.212459
2759,Rum Run 5K & Kids Tiki Run,48171,NaN,ATHLETIC,Catch your stride at the 2nd Annual Rum run at...,Paradise Point Resort - pathways within Missio...,2016-04-10 07:00:00,2016-04-10 11:00:00,900,100,Energy Events,www.energyevents.com,NaN,NaN,NaN
2760,8th Annual GranFondo San Diego (Bike Ride),47761,NaN,ATHLETIC,Cyclists of all ages can join an Italian cycli...,Little Italy (India St.) - Hawthorne St. - Pac...,2016-04-10 06:30:00,2016-04-10 17:00:00,"1,500",50,GranFondo Cycling Tours,www.sdgranfondo.com,799 W Hawthorn St,32.726249,-117.169080
2761,Ray at Night (2nd Saturday Each Month),47891,NaN,FESTIVAL,"On the second Saturday of each month, particip...",Ray Street between University Ave. & North Par...,2016-04-09 18:00:00,2016-04-09 22:00:00,500,40,North Park for the Arts,www.northparkarts.org,University Ave & Ray St,32.748453,-117.129201
2762,Old Town Artisan's Market,47984,NaN,FARMERS,A weekend open air market offering an array of...,Harney Street between San Diego Avenue and Con...,2016-04-09 10:00:00,2016-04-09 16:30:00,"1,000",100,Old Town San Diego Chamber of Commerce,NaN,San Diego Ave & Harney St,32.752780,-117.194904
2763,Golden Hill Certified Farmer's Market,47797,NaN,FARMERS,This farmer's market in Golden Hill offers an ...,B Street between 27th St. & 28th St.,2016-04-09 09:30:00,2016-04-09 13:30:00,500,50,Brian's Farmer Markets,www.briansfarmermarkets.com,B St & 27th St,32.717915,-117.136062
2764,City Heights Farmer's Market (Every Saturday),47440,NaN,FARMERS,This farmer's market in City Heights offers an...,Wightman Street between 43rd St. & Fairmont Ave.,2016-04-09 09:00:00,2016-04-09 13:00:00,500,100,San Diego County Farm Bureau,www.sdfarmbureau.org,Wightman Street & Fairmont Ave.,32.747747,-117.100901
2765,The Mercato: Little Italy's Farmers Market (Sat.),47329,NaN,FARMERS,The Little Italy Mercato is a Certified Farmer...,West Cedar Street between Front Street and Ket...,2016-04-09 08:00:00,2016-04-09 14:00:00,"1,500",400,Little Italy Association of San Diego,www.littleitalymercato.com,Front St & W Cedar St,32.721954,-117.164768
2766,12th Annual La Jolla Concours d'Elegance,48098,NaN,FESTIVAL,An elite car show is presented at beautiful La...,Ellen Browning Scripps Park at 1155 Coast Blvd.,2016-04-09 07:00:00,2016-04-09 21:00:00,"2,000",400,La Jolla Historical Society,www.lajollaconcours.com,NaN,NaN,NaN

In [7]:
special_events.head(5)

,event_title,event_id,event_subtitle,event_type,event_desc,event_loc,event_start,event_end,exp_attendance,exp_participants,event_host,event_url,event_address,latitude,longitude
0,2018 Hillcrest Farmers' Market (Sundays),49953,NaN,FARMERS,This farmer's market in Hillcrest offers an ar...,DMV parking lot at 3690 Normal Street ~ Normal...,2018-12-30 09:00:00,2018-12-30 14:00:00,"2,000",400,Hillcrest Business Association,www.hillcrestfarmersmarket.com,3690 Normal Street,32.748542,-117.149901
1,Old Town Artisan's Market,50424,NaN,FARMERS,A weekend open air market offering an array of...,Harney Street between San Diego Avenue and Con...,2018-12-30 09:00:00,2018-12-30 16:30:00,"1,000",100,Old Town San Diego Chamber of Commerce,NaN,Harney Street & San Diego Avenue,32.752779,-117.194902
2,Sunday Artisan Market,50588,NaN,FARMERS,The Sunday Artisan Market provides space for l...,5th Avenue between Market Street and Island Av...,2018-12-30 09:00:00,2018-12-30 14:00:00,"3,000",20,Gaslamp Quarter Association,www.gaslamp.org,5th Avenue & Market Street,32.731392,-117.160285
3,Old Town Artisan's Market,50423,NaN,FARMERS,A weekend open air market offering an array of...,Harney Street between San Diego Avenue and Con...,2018-12-29 09:00:00,2018-12-29 16:30:00,"1,000",100,Old Town San Diego Chamber of Commerce,NaN,Harney Street & San Diego Avenue,32.752779,-117.194902
4,City Heights Farmer's Market (Every Saturday),50130,NaN,FARMERS,This farmer's market in City Heights offers an...,Wightman Street between 43rd Street and Fairmo...,2018-12-29 09:00:00,2018-12-29 13:00:00,500,100,San Diego County Farm Bureau,www.sdfarmbureau.org,Wightman & 43rd Streets,32.747753,-117.099983

In [8]:
active_businesses.head(5)

,account_key,address_str,apt_suite,bus_start_dt,business_owner_name,business_phone,city,creation_dt,doing_bus_as_name,expiration_dt,lat,lon,naics_code,naics_description,ownership_type,pmb_box,po_box,state,zip,BID
0,2017014278,10640 scripps ranch blvd,101,2017-08-23,miriam chor freitas,(858) 217-5770,san diego,2017-09-27,miriam chor freitas lcsw,2018-08-31,32.911936,-117.110321,62133,offices of other mental health practitioners,sole,NaN,NaN,CA,92131-1095,NaN
1,2017013866,5085 september st,NaN,2015-09-01,robert burke,NaN,san diego,2017-09-27,robert burke,2018-08-31,32.780080,-117.187049,541,"professional, scientific & technical services",sole,NaN,NaN,CA,92110-1222,NaN
2,2017013873,827 beryl st,NaN,2015-09-01,robert doll,NaN,san diego,2017-09-27,robert doll,2018-08-31,32.803056,-117.256734,541,"professional, scientific & technical services",sole,NaN,NaN,CA,92109-2004,NaN
3,2017013871,2704 boston ave,NaN,2015-09-01,jose m espinozanaranjo & maria m dadaespinoza,NaN,san diego,2017-09-27,jose m espinozanaranjo & maria m dadaespinoza,2018-08-31,32.694014,-117.135811,541,"professional, scientific & technical services",h-w,NaN,NaN,CA,92113-3708,NaN
4,2017013870,1502 mesa brook st,NaN,2015-09-01,feliz h blanco & idalia contreras ochoa,NaN,san diego,2017-09-27,feliz h blanco & idalia contreras ochoa,2018-08-31,32.693291,-117.048771,541,"professional, scientific & technical services",h-w,NaN,NaN,CA,92114-7875,NaN

In [9]:
listings.head(5)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,11204286,https://www.airbnb.com/rooms/11204286,20160706203047,2016-07-07,Family friendly/California king,"Aquatica Waterpark, Sleep train Amphitheater, ...","Walking to Aquatica Waterpark, Sleep train Amp...","Aquatica Waterpark, Sleep train Amphitheater, ...",none,NaN,...,10.0,f,NaN,"SAN DIEGO, SAN DIEGO TOURISM MARKETING DISTRIC...",f,moderate,f,f,2,4.57
1,7972006,https://www.airbnb.com/rooms/7972006,20160706203047,2016-07-07,Welcome to Sunset Suite,Your spacious room awaiting is with a Queen Si...,NaN,Your spacious room awaiting is with a Queen Si...,none,Getting around is easy. Very close to Eastlake...,...,10.0,f,NaN,NaN,f,strict,f,f,1,0.76
2,7727710,https://www.airbnb.com/rooms/7727710,20160706203047,2016-07-07,San Diego/Eastlake. Gated community,"This is an immaculate 3 bedroom, 2 1/2 bath co...",NaN,"This is an immaculate 3 bedroom, 2 1/2 bath co...",none,NaN,...,8.0,f,NaN,NaN,f,flexible,f,f,1,0.09
3,13124681,https://www.airbnb.com/rooms/13124681,20160706203047,2016-07-07,Townhome in Eastlake,This 2 Story TownHome is close to Otay Ranch ...,"My place is good for couples, business travele...",This 2 Story TownHome is close to Otay Ranch ...,none,"Located in eastern Chula Vista, Otay Ranch is ...",...,10.0,f,NaN,NaN,f,moderate,f,f,1,3.00
4,3469225,https://www.airbnb.com/rooms/3469225,20160706203047,2016-07-07,Bedroom suite in Large new home,Hello; we are offering a private secluded bedr...,"Beautiful, quiet award-winning suburban neighb...",Hello; we are offering a private secluded bedr...,none,"The quiet serenity; near Park and lakes, beaut...",...,NaN,f,NaN,NaN,f,strict,f,f,2,NaN

In [10]:
schema = StructType([StructField("id", IntegerType(), True),
                    StructField("longitude", DoubleType(), True),
                    StructField("latitude", DoubleType(), True)])

In [11]:
schema_two = StructType([StructField("event_id", IntegerType(), True),
                    StructField("longitude", DoubleType(), True),
                    StructField("latitude", DoubleType(), True)])

In [12]:
schema_three = StructType([StructField("account_key", IntegerType(), True),
                    StructField("lon", DoubleType(), True),
                    StructField("lat", DoubleType(), True)])

In [13]:
spql_listings_info = sqlContext.createDataFrame(listings[['id', 'longitude', 'latitude']], schema)

In [14]:
spql_special_events_info = sqlContext.createDataFrame(special_events[['event_id', 'longitude', 'latitude']].dropna(), schema_two)

In [15]:
spql_active_businesses_info = sqlContext.createDataFrame(active_businesses[['account_key', 'lon', 'lat']], schema_three)

In [16]:
spql_listings_info_rdd = spql_listings_info.rdd.map(lambda row:(row.id, row.longitude,row.latitude))

In [17]:
spql_special_events_info_rdd = spql_special_events_info.rdd.map(lambda row:(row.event_id, row.longitude,row.latitude))

In [18]:
spql_active_businesses_info_rdd = spql_active_businesses_info.rdd.map(lambda row:(row.account_key, row.lon,row.lat))

In [19]:
spql_listings_and_events_info_rdd = spql_listings_info_rdd.cartesian(spql_special_events_info_rdd)

In [20]:
spql_listings_and_businesses_info_rdd = spql_listings_info_rdd.cartesian(spql_active_businesses_info_rdd)

In [21]:
spql_listings_and_events_info_rdd = spql_listings_and_events_info_rdd.map(lambda x: (x[0][0], x[0][1], x[0][2], x[1][0], x[1][1], x[1][2]))

In [22]:
spql_listings_and_businesses_info_rdd = spql_listings_and_businesses_info_rdd.map(lambda x: (x[0][0], x[0][1], x[0][2], x[1][0], x[1][1], x[1][2]))

In [23]:
def distance_calculation(x):
        p_one = float(x[2])
        q_one = float(x[1])
        p_two = float(x[5])
        q_two = float(x[4])
        lon_diff = (q_one - q_two)*np.pi/180
        lat_diff = (p_one - p_two)*np.pi/180
        a = np.sin(lat_diff/2)**2 + np.cos(p_one*np.pi/180)*np.cos(p_two*np.pi/180)*(np.sin(lon_diff/2)**2)
        c = np.arctan2(np.sqrt(a), np.sqrt(1 - a))
        d = 6371.00*float(c)
        return tuple(list(x) + [d])

In [24]:
spql_listings_and_events_info_rdd = spql_listings_and_events_info_rdd.map(distance_calculation)

In [25]:
spql_listings_and_businesses_info_rdd = spql_listings_and_businesses_info_rdd.map(distance_calculation)

In [26]:
spql_listings_and_events_info_rdd.take(2)

[(11204286,
  -117.00194036983295,
  32.581881678016465,
  49953,
  -117.149901,
  32.748542300000004,
  11.56783680508425),
 (11204286,
  -117.00194036983295,
  32.581881678016465,
  50424,
  -117.1949018,
  32.7527792,
  13.108767795144386)]

In [27]:
spql_listings_and_businesses_info_rdd.take(2)

[(11204286,
  -117.00194036983295,
  32.581881678016465,
  2017014278,
  -117.11032140000002,
  32.9119358,
  19.0371639407603),
 (11204286,
  -117.00194036983295,
  32.581881678016465,
  2017013866,
  -117.187049,
  32.78008,
  14.016453587380838)]

In [28]:
schema_four = StructType([StructField("id", IntegerType(), True),
                    StructField("longitude", DoubleType(), True),
                    StructField("latitude", DoubleType(), True)] + [StructField("event_id", IntegerType(), True),
                    StructField("event_longitude", DoubleType(), True),
                    StructField("event_latitude", DoubleType(), True), StructField("distance", DoubleType(), True)])

In [29]:
spql_listings_and_events_info_df = sqlContext.createDataFrame(spql_listings_and_events_info_rdd, schema_four)

In [30]:
schema_five = StructType([StructField("id", IntegerType(), True),
                    StructField("longitude", DoubleType(), True),
                    StructField("latitude", DoubleType(), True)] + [StructField("account_key", IntegerType(), True),
                    StructField("business_lon", DoubleType(), True),
                    StructField("business_lat", DoubleType(), True), StructField("distance", DoubleType(), True)])

In [31]:
spql_listings_and_businesses_info_df = sqlContext.createDataFrame(spql_listings_and_businesses_info_rdd, schema_five)

In [32]:
spql_listings_and_events_info_rdd = spql_listings_and_events_info_df.rdd.map(lambda row: (row.id, row.longitude, row.latitude, row.event_id, row.event_longitude, row.event_latitude, row.distance))

In [33]:
spql_listings_and_businesses_info_rdd = spql_listings_and_businesses_info_df.rdd.map(lambda row: (row.id, row.longitude, row.latitude, row.account_key, row.business_lon, row.business_lat, row.distance))

In [ ]:
for w in special_events.index:
        a = special_events['longitude']
        type(a)

In [34]:
close_events_count = spql_listings_and_events_info_rdd.filter(lambda x: x[-1] <= 16).map(lambda x: (x[0], 1)).reduceByKey(lambda x, y : x + y)

In [35]:
closest_event_distance = spql_listings_and_events_info_rdd.map(lambda x: (x[0], x[-1])).reduceByKey(lambda x, y : min(x, y))

In [36]:
close_businesses_count = spql_listings_and_businesses_info_rdd.filter(lambda x: x[-1] <= 16).map(lambda x: (x[0], 1)).reduceByKey(lambda x, y : x + y)

In [37]:
closest_business_distance = spql_listings_and_businesses_info_rdd.map(lambda x: (x[0], x[-1])).reduceByKey(lambda x, y : min(x, y))

In [38]:
event_distance  = closest_event_distance.map(lambda x: x[1])

In [39]:
business_distance  = closest_business_distance.map(lambda x: x[1])

In [40]:
event_distance.take(6)

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.runJob.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 1 in stage 2.0 failed 1 times, most recent failure: Lost task 1.0 in stage 2.0 (TID 3, localhost, executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\worker.py", line 174, in main
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\worker.py", line 169, in process
  File "C:/opt/spark\python\pyspark\rdd.py", line 2407, in pipeline_func
    return func(split, prev_func(split, iterator))
  File "C:/opt/spark\python\pyspark\rdd.py", line 2407, in pipeline_func
    return func(split, prev_func(split, iterator))
  File "C:/opt/spark\python\pyspark\rdd.py", line 346, in func
    return f(iterator)
  File "C:/opt/spark\python\pyspark\rdd.py", line 1828, in combineLocally
    merger.mergeValues(iterator)
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\shuffle.py", line 236, in mergeValues
    for k, v in iterator:
  File "<ipython-input-32-d32c869c7831>", line 1, in <lambda>
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\sql\types.py", line 1502, in __getattr__
    raise AttributeError(item)
AttributeError: event_longitude

	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRDD.scala:193)
	at org.apache.spark.api.python.PythonRunner$$anon$1.<init>(PythonRDD.scala:234)
	at org.apache.spark.api.python.PythonRunner.compute(PythonRDD.scala:152)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:63)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.api.python.PairwiseRDD.compute(PythonRDD.scala:390)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:96)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.Task.run(Task.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:282)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	at java.lang.Thread.run(Thread.java:745)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1435)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1423)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1422)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1422)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:802)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:802)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1650)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1605)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1594)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:628)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1918)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1931)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1944)
	at org.apache.spark.api.python.PythonRDD$.runJob(PythonRDD.scala:441)
	at org.apache.spark.api.python.PythonRDD.runJob(PythonRDD.scala)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:745)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\worker.py", line 174, in main
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\worker.py", line 169, in process
  File "C:/opt/spark\python\pyspark\rdd.py", line 2407, in pipeline_func
    return func(split, prev_func(split, iterator))
  File "C:/opt/spark\python\pyspark\rdd.py", line 2407, in pipeline_func
    return func(split, prev_func(split, iterator))
  File "C:/opt/spark\python\pyspark\rdd.py", line 346, in func
    return f(iterator)
  File "C:/opt/spark\python\pyspark\rdd.py", line 1828, in combineLocally
    merger.mergeValues(iterator)
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\shuffle.py", line 236, in mergeValues
    for k, v in iterator:
  File "<ipython-input-32-d32c869c7831>", line 1, in <lambda>
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\sql\types.py", line 1502, in __getattr__
    raise AttributeError(item)
AttributeError: event_longitude

	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRDD.scala:193)
	at org.apache.spark.api.python.PythonRunner$$anon$1.<init>(PythonRDD.scala:234)
	at org.apache.spark.api.python.PythonRunner.compute(PythonRDD.scala:152)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:63)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.api.python.PairwiseRDD.compute(PythonRDD.scala:390)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:96)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.Task.run(Task.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:282)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	... 1 more

In [41]:
business_distance.take(6)

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.runJob.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 2 in stage 4.0 failed 1 times, most recent failure: Lost task 2.0 in stage 4.0 (TID 8, localhost, executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\worker.py", line 174, in main
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\worker.py", line 169, in process
  File "C:/opt/spark\python\pyspark\rdd.py", line 2407, in pipeline_func
    return func(split, prev_func(split, iterator))
  File "C:/opt/spark\python\pyspark\rdd.py", line 2407, in pipeline_func
    return func(split, prev_func(split, iterator))
  File "C:/opt/spark\python\pyspark\rdd.py", line 346, in func
    return f(iterator)
  File "C:/opt/spark\python\pyspark\rdd.py", line 1828, in combineLocally
    merger.mergeValues(iterator)
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\shuffle.py", line 236, in mergeValues
    for k, v in iterator:
  File "<ipython-input-33-f94e2d04de54>", line 1, in <lambda>
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\sql\types.py", line 1502, in __getattr__
    raise AttributeError(item)
AttributeError: business_lon

	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRDD.scala:193)
	at org.apache.spark.api.python.PythonRunner$$anon$1.<init>(PythonRDD.scala:234)
	at org.apache.spark.api.python.PythonRunner.compute(PythonRDD.scala:152)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:63)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.api.python.PairwiseRDD.compute(PythonRDD.scala:390)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:96)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.Task.run(Task.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:282)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	at java.lang.Thread.run(Thread.java:745)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1435)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1423)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1422)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1422)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:802)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:802)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1650)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1605)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1594)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:628)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1918)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1931)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1944)
	at org.apache.spark.api.python.PythonRDD$.runJob(PythonRDD.scala:441)
	at org.apache.spark.api.python.PythonRDD.runJob(PythonRDD.scala)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:745)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\worker.py", line 174, in main
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\worker.py", line 169, in process
  File "C:/opt/spark\python\pyspark\rdd.py", line 2407, in pipeline_func
    return func(split, prev_func(split, iterator))
  File "C:/opt/spark\python\pyspark\rdd.py", line 2407, in pipeline_func
    return func(split, prev_func(split, iterator))
  File "C:/opt/spark\python\pyspark\rdd.py", line 346, in func
    return f(iterator)
  File "C:/opt/spark\python\pyspark\rdd.py", line 1828, in combineLocally
    merger.mergeValues(iterator)
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\shuffle.py", line 236, in mergeValues
    for k, v in iterator:
  File "<ipython-input-33-f94e2d04de54>", line 1, in <lambda>
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\sql\types.py", line 1502, in __getattr__
    raise AttributeError(item)
AttributeError: business_lon

	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRDD.scala:193)
	at org.apache.spark.api.python.PythonRunner$$anon$1.<init>(PythonRDD.scala:234)
	at org.apache.spark.api.python.PythonRunner.compute(PythonRDD.scala:152)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:63)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.api.python.PairwiseRDD.compute(PythonRDD.scala:390)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:96)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.Task.run(Task.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:282)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	... 1 more

In [35]:
spql_listings_with_events_info_rdd = close_events_count.zip(event_distance).map(lambda x: (x[0][0], x[0][1], x[1]))

In [36]:
spql_listings_with_businesses_info_rdd = close_businesses_count.zip(business_distance).map(lambda x: (x[0][0], x[0][1], x[1]))

In [37]:
spql_listings_with_events_info_rdd_row = spql_listings_with_events_info_rdd.map(lambda x: Row(listing_id = x[0], events_count = x[1], closest_distance = x[2]))

In [38]:
spql_listings_with_businesses_info_rdd_row = spql_listings_with_businesses_info_rdd.map(lambda x: Row(listing_id = x[0], businesses_count = x[1], closest_distance = x[2]))

In [36]:
sqlContext.createDataFrame(spql_listings_with_events_info_rdd_row).show(5)

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.runJob.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 7.0 failed 1 times, most recent failure: Lost task 0.0 in stage 7.0 (TID 21, localhost, executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\worker.py", line 174, in main
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\worker.py", line 169, in process
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\serializers.py", line 268, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "C:/opt/spark\python\pyspark\rdd.py", line 1339, in takeUpToNumLeft
    yield next(iterator)
  File "<ipython-input-31-79be461258a5>", line 1, in <lambda>
TypeError: 'float' object has no attribute '__getitem__'

	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRDD.scala:193)
	at org.apache.spark.api.python.PythonRunner$$anon$1.<init>(PythonRDD.scala:234)
	at org.apache.spark.api.python.PythonRunner.compute(PythonRDD.scala:152)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:63)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:282)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	at java.lang.Thread.run(Thread.java:745)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1435)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1423)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1422)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1422)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:802)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:802)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1650)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1605)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1594)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:628)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1918)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1931)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1944)
	at org.apache.spark.api.python.PythonRDD$.runJob(PythonRDD.scala:441)
	at org.apache.spark.api.python.PythonRDD.runJob(PythonRDD.scala)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:745)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\worker.py", line 174, in main
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\worker.py", line 169, in process
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\serializers.py", line 268, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "C:/opt/spark\python\pyspark\rdd.py", line 1339, in takeUpToNumLeft
    yield next(iterator)
  File "<ipython-input-31-79be461258a5>", line 1, in <lambda>
TypeError: 'float' object has no attribute '__getitem__'

	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRDD.scala:193)
	at org.apache.spark.api.python.PythonRunner$$anon$1.<init>(PythonRDD.scala:234)
	at org.apache.spark.api.python.PythonRunner.compute(PythonRDD.scala:152)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:63)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:282)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	... 1 more

In [35]:
sqlContext.createDataFrame(spql_listings_with_events_info_rdd_row).write.csv('listings_events_information.csv')

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.runJob.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 4.0 failed 1 times, most recent failure: Lost task 0.0 in stage 4.0 (TID 20, localhost, executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\worker.py", line 174, in main
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\worker.py", line 169, in process
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\serializers.py", line 268, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "C:/opt/spark\python\pyspark\rdd.py", line 1339, in takeUpToNumLeft
    yield next(iterator)
  File "<ipython-input-31-79be461258a5>", line 1, in <lambda>
TypeError: 'float' object has no attribute '__getitem__'

	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRDD.scala:193)
	at org.apache.spark.api.python.PythonRunner$$anon$1.<init>(PythonRDD.scala:234)
	at org.apache.spark.api.python.PythonRunner.compute(PythonRDD.scala:152)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:63)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:282)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	at java.lang.Thread.run(Thread.java:745)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1435)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1423)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1422)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1422)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:802)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:802)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1650)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1605)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1594)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:628)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1918)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1931)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1944)
	at org.apache.spark.api.python.PythonRDD$.runJob(PythonRDD.scala:441)
	at org.apache.spark.api.python.PythonRDD.runJob(PythonRDD.scala)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:745)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\worker.py", line 174, in main
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\worker.py", line 169, in process
  File "C:\opt\spark\python\lib\pyspark.zip\pyspark\serializers.py", line 268, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "C:/opt/spark\python\pyspark\rdd.py", line 1339, in takeUpToNumLeft
    yield next(iterator)
  File "<ipython-input-31-79be461258a5>", line 1, in <lambda>
TypeError: 'float' object has no attribute '__getitem__'

	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRDD.scala:193)
	at org.apache.spark.api.python.PythonRunner$$anon$1.<init>(PythonRDD.scala:234)
	at org.apache.spark.api.python.PythonRunner.compute(PythonRDD.scala:152)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:63)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:282)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	... 1 more

In [ ]:
sqlContext.createDataFrame(spql_listings_with_businesses_info_rdd_row).write.csv('listings_businesses_information.csv')

In [ ]:
df = pd.DataFrame()
count = 0

for idx_one in listings.index:
    for idx_two in special_events.index:
        p_one = float(listings['latitude'][idx_one])
        q_one = float(listings['longitude'][idx_one])
        p_two = float(special_events['lat'][idx_two])
        q_two = float(special_events['lon'][idx_two])
        lon_diff = (q_one - q_two)*np.pi/180
        lat_diff = (p_one - p_two)*np.pi/180
        a = np.sin(lat_diff/2)**2 + np.cos(p_one*np.pi/180)*np.cos(p_two*np.pi/180)*(np.sin(lon_diff/2)**2)
        c = np.arctan2(np.sqrt(a), np.sqrt(1 - a))
        d = 6371*float(c)
        
        k = pd.DataFrame.from_dict({count: {'listing_id': listings['id'][idx_one], 
                                            'event_title': special_events['event_title'][idx_two],
                                             'event_id': special_events['event_id'][idx_two],
                                           'distance_from_event': d}})
        df = df.append(k)
        
        count = count + 1

In [ ]:
df

In [ ]:
df_two = pd.DataFrame()
count = 0

for idx_one in listings.index:
    for idx_two in active_businesses.index:
        p_one = float(listings['latitude'][idx_one])
        q_one = float(listings['longitude'][idx_one])
        p_two = float(active_businesses['latitude'][idx_two])
        q_two = float(active_businesses['longitude'][idx_two])
        lon_diff = (q_one - q_two)*np.pi/180
        lat_diff = (p_one - p_two)*np.pi/180
        a = np.sin(lat_diff/2)**2 + np.cos(p_one*np.pi/180)*np.cos(p_two*np.pi/180)*(np.sin(lon_diff/2)**2)
        c = np.arctan2(np.sqrt(a), np.sqrt(1 - a))
        d = 6371*float(c)
        
        k = pd.DataFrame.from_dict({count: {'listing_id': listings['id'][idx_one], 
                                            'name_of_company': active_businesses['doing_bus_as_name'][idx_two],
                                             'account_key': active_businesses['account_key'][idx_two],
                                           'distance_from_business': d}})
        
        df_two = df_two.append(k)
        
        count = count + 1

In [ ]:
df_two