In [1]:
import json
from StringIO import StringIO
import pandas as pd
import pandas as pd
import os
import numpy as np
import datetime
import csv

In [8]:
import findspark
findspark.init()

from pyspark import SparkContext
sc = SparkContext(master="local[4]") 
from pyspark import SparkContext
from pyspark.sql import *
sqlContext = SQLContext(sc)

In [7]:
sc.stop()

In [9]:
from pyspark.sql import Row
from pyspark.sql.types import *

In [10]:
listings = pd.read_csv('inside_airbnb/listings.csv')

In [11]:
park_data = pd.read_json('Datasources/sdcounty_datasets/parks_datasd.geojson', orient = 'records')

In [12]:
df_geo = pd.DataFrame()
count = 0

for idx in park_data.index:
    k = pd.DataFrame.from_dict({count: {'center_x': park_data['features'][idx]['properties']['center_x'], 
                                            'center_y': park_data['features'][idx]['properties']['center_y'],
                                             }}, orient = 'index')
    df_geo = df_geo.append(k)
    
    count = count + 1

In [13]:
schema = StructType([StructField("id", IntegerType(), True),
                    StructField("longitude", DoubleType(), True),
                    StructField("latitude", DoubleType(), True)])

In [14]:
schema_two = StructType([StructField("park_id", IntegerType(), True),
                    StructField("park_longitude", DoubleType(), True),
                    StructField("park_latitude", DoubleType(), True)])

In [15]:
spql_listings_info = sqlContext.createDataFrame(listings[['id', 'longitude', 'latitude']], schema)

In [16]:
df_geo['park_id'] = range(len(df_geo))

In [17]:
spql_parks_info = sqlContext.createDataFrame(df_geo[['park_id', 'center_x', 'center_y']], schema_two)

In [18]:
spql_listings_info_rdd = spql_listings_info.rdd.map(lambda row:(row.id, row.longitude,row.latitude))

In [19]:
spql_parks_info_rdd = spql_parks_info.rdd.map(lambda row:(row.park_id, row.park_longitude,row.park_latitude))

In [20]:
spql_listings_and_parks_info_rdd = spql_listings_info_rdd.cartesian(spql_parks_info_rdd)

In [21]:
spql_listings_and_parks_info_rdd = spql_listings_and_parks_info_rdd.map(lambda x: (x[0][0], x[0][1], x[0][2], x[1][0], x[1][1], x[1][2]))

In [22]:
def distance_calculation(x):
        p_one = float(x[2])
        q_one = float(x[1])
        p_two = float(x[5])
        q_two = float(x[4])
        lon_diff = (q_one - q_two)*np.pi/180
        lat_diff = (p_one - p_two)*np.pi/180
        a = np.sin(lat_diff/2)**2 + np.cos(p_one*np.pi/180)*np.cos(p_two*np.pi/180)*(np.sin(lon_diff/2)**2)
        c = np.arctan2(np.sqrt(a), np.sqrt(1 - a))
        d = 6371.00*float(c)
        return tuple(list(x) + [d])

In [23]:
spql_listings_and_parks_info_rdd = spql_listings_and_parks_info_rdd.map(distance_calculation)

In [24]:
spql_listings_and_parks_info_rdd.take(2)

[(11204286,
  -117.00194036983295,
  32.581881678016465,
  0,
  -117.113,
  32.708,
  8.729150422837035),
 (11204286,
  -117.00194036983295,
  32.581881678016465,
  1,
  -117.161,
  32.708,
  10.228095266922994)]

In [25]:
schema_three = StructType([StructField("id", IntegerType(), True),
                    StructField("longitude", DoubleType(), True),
                    StructField("latitude", DoubleType(), True)] + [StructField("park_id", IntegerType(), True),
                    StructField("park_longitude", DoubleType(), True),
                    StructField("park_latitude", DoubleType(), True), StructField("distance", DoubleType(), True)])

In [26]:
spql_listings_and_parks_info_df = sqlContext.createDataFrame(spql_listings_and_parks_info_rdd, schema_three)

In [27]:
spql_listings_and_parks_info_rdd = spql_listings_and_parks_info_df.rdd.map(lambda row: (row.id, row.longitude, row.latitude, row.park_id, row.park_longitude, row.park_latitude, row.distance))

In [86]:
close_parks_count_sixteen = spql_listings_and_parks_info_rdd.filter(lambda x: x[-1] <= 16).map(lambda x: (x[0], 1)).reduceByKey(lambda x, y : x + y)

In [29]:
closest_park_distance = spql_listings_and_parks_info_rdd.map(lambda x: (x[0], x[-1])).reduceByKey(lambda x, y : min(x, y))

In [30]:
park_distance  = closest_park_distance.map(lambda x: x[1])

In [31]:
park_distance.take(5)

[0.6241338455020371,
 0.4226653619251699,
 0.09824906407752211,
 0.3382018040755941,
 0.20270815634600428]

In [32]:
close_parks_count_one = spql_listings_and_parks_info_rdd.filter(lambda x: x[-1] <= 1).map(lambda x: (x[0], 1)).reduceByKey(lambda x, y : x + y)
close_parks_count_three = spql_listings_and_parks_info_rdd.filter(lambda x: x[-1] <= 3).map(lambda x: (x[0], 1)).reduceByKey(lambda x, y : x + y)
close_parks_count_five = spql_listings_and_parks_info_rdd.filter(lambda x: x[-1] <= 5).map(lambda x: (x[0], 1)).reduceByKey(lambda x, y : x + y)
close_parks_count_ten = spql_listings_and_parks_info_rdd.filter(lambda x: x[-1] <= 10).map(lambda x: (x[0], 1)).reduceByKey(lambda x, y : x + y)

In [33]:
close_parks_count_three_value = close_parks_count_three.map(lambda x: x[1])
close_parks_count_five_value = close_parks_count_five.map(lambda x: x[1])
close_parks_count_ten_value = close_parks_count_ten.map(lambda x: x[1])
close_parks_count_value = close_parks_count.map(lambda x: x[1])

In [89]:
count = 0

In [90]:
import datetime
today = datetime.date.today()
count+=1
filename = 'Datasources/listings_parks/listings_parks_' + str(today) + '_V' + str(count) + '.csv'

In [91]:
print filename

Datasources/listings_parks/listings_parks_2018-05-20_V1.csv

In [61]:
df1 = close_parks_count_one.toDF()

In [40]:
df2 = close_parks_count_three.toDF()

In [41]:
df3 = close_parks_count_five.toDF()

In [42]:
df4 = close_parks_count_ten.toDF()

In [62]:
df1 = df1.toPandas()

In [64]:
df1 = df1.rename(columns={'_1':'listing_id', '_2':'count_1km'})

In [65]:
df2 = df2.toPandas()

In [66]:
df2 = df2.rename(columns={'_1':'listing_id', '_2':'count_3km'})

In [67]:
df3 = df3.toPandas()

In [68]:
df3 = df3.rename(columns={'_1':'listing_id', '_2':'count_5km'})

In [69]:
df4 = df4.toPandas()

In [70]:
df4 = df4.rename(columns={'_1':'listing_id', '_2':'count_10km'})

In [81]:
t1 = df1.merge(df2, how='inner', on='listing_id')

In [82]:
t2 = t1.merge(df3, how='inner', on='listing_id')
t3 = t2.merge(df4, how='inner', on='listing_id')

In [84]:
t3.head()

   listing_id  count_1km  count_3km  count_5km  count_10km
0     9175040          4         43        124         241
1     5179392          5         30         79         217
2     7064912         12         52        103         199
3     1404080          9         64         96         189
4     2502672         12         30         54         187

In [93]:
t3.to_csv(filename,index=False)